.vacancy {
  margin-bottom: 47px;
  padding-right: 18%;
  padding-bottom: 20px;
  border-bottom: 12px solid rgba($primary, .2);

  @include media-breakpoint-down(sm) {
    padding-right: 0;
  }

  h3,
  .h3 {
    margin-bottom: 25px;
  }

  p,
  .p {
    margin-bottom: 30px;

    &.sm {
      margin-bottom: 10px;
    }
  }
}
