h1,
.h1 {
  font-size: 50px;
  line-height: 1.26;
  font-weight: 900;
  text-transform: uppercase;

  @include media-breakpoint-down(xl) {
    font-size: 35px;
  }
}

h2,
.h2 {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 900;
  text-transform: uppercase;
  color: $primary;

  @include media-breakpoint-down(xl) {
    font-size: 35px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 30px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 26px;
    font-weight: 700;
    text-transform: none;
  }
}

h3,
.h3 {
  font-size: 30px;
  line-height: 1.27;
  font-weight: 900;
  text-transform: uppercase;
  color: $primary;

  @include media-breakpoint-down(lg) {
    font-size: 25px;
  }
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  color: $primary;

  @include media-breakpoint-down(lg) {
    font-size: 22px;
  }
}

h5,
.h5 {
}

h6,
.h6 {
}

p,
.p {
  font-size: 18px;
  line-height: 1.5;
  color: #000;

  @include media-breakpoint-down(lg) {
    font-size: 18px;
  }

  &.lg {
    font-size: 20px;

    @include media-breakpoint-down(lg) {
      font-size: 19px;
    }
  }

  &.sm {
    font-size: 16px;
    line-height: 1.19;
  }

  &.xs {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

.border-md-right {
  border-right: 1px solid $border-color;

  @include media-breakpoint-down(md) {
    border-right: 0;
  }
}

ul {

  li {
    font-size: 20px;
    line-height: 1.5;
    color: #000;
  }

  &.sm {
    margin-bottom: 30px;
    padding-left: 30px;

    li {
      margin-bottom: 4px;
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
