mixin sidelinks(data)
  .sidelinks&attributes(attributes)
    a.sidelinks__item.sidelinks__item--active(href="#") Все 
    a.sidelinks__item(href="#") Управление
    a.sidelinks__item(href="#") Персонал
    a.sidelinks__item(href="#") СМИ
    a.sidelinks__item(href="#") Технологии
