.sidelinks {
  position: sticky;
  top: 272px;
  padding-bottom: 20px;

  @include media-breakpoint-down(xl) {
    top: 162px;
  }

  @include media-breakpoint-down(md) {
    position: static;
    margin-top: 30px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 24px;
    display: block;
    font-size: 20px;
    line-height: 1.5;
    text-decoration: underline;
    color: $dark;

    @include media-breakpoint-down(md) {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 5px 10px;
      text-decoration: none;
      background: #fff;
      border: 1px solid $primary;
      border-radius: 20px;
    }

    &--active {
      text-decoration: none;
      color: $primary;

      @include media-breakpoint-down(md) {
        color: #fff;
        background: $primary;
      }
    }
  }
}
