.slider {

  @include media-breakpoint-down(lg) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__item {

    &:focus {
      outline: 0;
    }
  }

  &__picture {
    position: relative;
    padding-top: 64.87%;
  }

  &__picture-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__item-dscr {
    display: none;
  }

  .slick-slide {
    margin: 0 -40px;

    @include media-breakpoint-down(xl) {
      margin: 0;
    }

    .card,
    .slider__picture {
      transition: $transition-base;
      transform: scale(.8);
    }

    &.slick-active {

      .card,
      .slider__picture {
        transform: none;
      }

      .slider__item-dscr {
        position: absolute;
        top: 100%;
        margin-top: 20px;
        margin-bottom: 0;
        display: block;

        @include media-breakpoint-down(lg) {
          position: static;
        }
      }
    }
  }

  .slick-list {
    margin: 0 40px;
    overflow: initial;

    @include media-breakpoint-down(lg) {
      margin: 0;
    }
  }

  &--pictures {
    padding-top: 60px;
    padding-bottom: 60px;

    @include media-breakpoint-down(lg) {
      padding: 20px 0;
    }

    .slick-list {
      margin: 0;
    }

    .slick-track {
      display: flex;
    }

    .slick-slide {
      margin: 0;
    }

    .slick-active {
      margin-right: 0;
    }
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 11.5vw;
    height: 100%;
    font-size: 0;
    background: transparent;
    cursor: pointer;

    &.slick-prev {
      left: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: url(../img/prev.svg) no-repeat left 50px center;
        background-size: 50px;

        @include media-breakpoint-down(xl) {
          background-position: left 20px center;
        }
      }
    }

    &.slick-next {
      right: 0;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: url(../img/next.svg) no-repeat right 50px center;
        background-size: 50px;

        @include media-breakpoint-down(xl) {
          background-position: right 20px center;
        }
      }
    }
  }

  .slick-dots {
    margin-top: 20px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin-right: 20px;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {

        button {
          background: $primary;
        }
      }

      button {
        width: 10px;
        height: 10px;
        font-size: 0;
        background: #eee;
        border-radius: 50%;
      }
    }
  }
}
