mixin cities(data)
  .cities&attributes(attributes)
    +city({
      photo: 'city-1.jpg',
      title: 'Москва'
    })
    +city({
      photo: 'city-2.jpg',
      title: 'Санкт-Петербург'
    })
    +city({
      photo: 'city-3.jpg',
      title: 'Казань'
    })
    +city({
      photo: 'city-4.jpg',
      title: 'Екатеринбург'
    })
    +city({
      photo: 'city-5.jpg',
      title: 'Калининград'
    })
    +city({
      photo: 'city-6.jpg',
      title: 'Уфа'
    })
    +city({
      photo: 'city-7.jpg',
      title: 'Новосибирск'
    })
    +city({
      photo: 'city-8.jpg',
      title: 'Красноярск'
    })
    +city({
      photo: 'city-9.jpg',
      title: 'Кемерово'
    })
    +city({
      photo: 'city-10.jpg',
      title: 'Ярославль'
    })
