.cities {
  position: relative;
  z-index: 1;
  margin: 0 -6px;
  display: flex;
  flex-flow: row wrap;

  @include media-breakpoint-down(lg) {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
