.news {
  padding: 58px 52px 78px;
  display: block;
  height: 100%;
  border: 1px solid rgba(#fff, .3);
  border-radius: 0 0 70px;

  @include transition;

  &:hover {
    border-color: #fff;
  }

  @media (max-width: 1899px) {
    padding: 30px;
  }

  @include media-breakpoint-down(xs) {
    padding: 20px;
  }

  &.border-black {
    border: 1px solid rgba(0, 0, 0, .3);
  }

  &--all {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(#261cab, .3);
    border: none;

    @include transition;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(xs) {
      min-height: 164px;
    }
  }
}
