mixin news(data)
  a.news(href="#")&attributes(attributes)
  
    if data && data.modifier == 'all'
      .h2.mb-0.text-white Архив <br>новостей
    
    else
      p.xs.mb-20.mb-xxl-40.text-white 17/04/2019
      p.font-weight-bold.mb-0.text-white FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году
      
