/* Bootstrap */

.container-fluid {
  padding-right: 88px;
  padding-left: 64px;

  @include media-breakpoint-down(xl) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @include media-breakpoint-down(md) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.btn-primary {
  padding: 14px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 900;
  background: linear-gradient(269.73deg, #20417b 17.54%, #4680c4 89.13%), #28237d;
  border: 0;
  border-radius: 0;

  @include transition;

  &:hover {
    opacity: .8;
  }
}

.btn-outline-primary {
  padding: 21px 91px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 900;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 0;

  @include media-breakpoint-down(xl) {
    padding: 15px 40px;
  }
}

.custom-file {
  width: auto;
  height: auto;

  .custom-file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .custom-file-label {
    position: static;
    margin-bottom: 0;
    padding: 13px 25.1px;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 900;
    text-align: center;
    color: $primary;
    border: 1px solid $primary;
    border-radius: 0;

    &:before,
    &:after {
      display: none;
    }
  }
}

/* Fullpage */
.fp-left {
  left: 160px !important;

  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.fp-left li {
  position: relative !important;
  margin: 0 0 20px !important;
  display: block !important;
  width: 16px !important;
  height: 16px !important;

  &:last-of-type {
    margin-bottom: 0 !important;
  }

  &:hover {

    span {
      margin: 0 !important;
      width: 12px !important;
      height: 12px !important;
    }

    span.fp-sr-only {
      width: 16px !important;
      height: 16px !important;
    }
  }

  a {
    outline: 0;
  }

  span {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin: 0 !important;
    width: 12px !important;
    height: 12px !important;
    background: transparent !important;
    border: 1px solid #33609f !important;
    border-radius: 100% !important;
    transform: translate(-50%, -50%) !important;

    &.fp-sr-only {
      clip: auto !important;
      width: 8px !important;
      height: 8px !important;
      text-indent: -9999px !important;
      background: #a3cdff !important;
      border: none !important;
    }
  }

  a.active span {
    margin: 0 !important;
    width: 12px !important;
    height: 12px !important;

    &.fp-sr-only {
      width: 16px !important;
      height: 16px !important;
    }
  }

  a:hover span {
    margin: 0 !important;
    width: 12px !important;
    height: 12px !important;

    &.fp-sr-only {
      width: 16px !important;
      height: 16px !important;
    }
  }
}

//.fp-scrollable {
//  display: flex;
//  flex-direction: column;
//}
//
//.fp-scroller {
//  display: flex;
//  flex-direction: column;
//  flex-grow: 1;
//}

/* Slick */

.slick-slide a {

  &:focus {
    border-bottom: 0;
    outline: none;
    box-shadow: none;
  }
}

/* Slim Select */

.ss-main .ss-single-selected {
  height: 56px;
  border: 1px solid #bbb9db;
  border-radius: 0;
}

.ss-main .ss-single-selected .ss-arrow {
  margin: 0 16px;
}

.ss-main .ss-single-selected .ss-arrow span {
  padding: 4px;
  border-width: 0 1px 1px 0;
  border-color: #000;
}

.ss-main .ss-single-selected .placeholder {
  padding-left: 13px;
  font-size: 14px;
  color: $dark;
}

.ss-main .ss-single-selected .placeholder .ss-disabled {
  color: rgba($primary, .5);
}
