mixin sidebar(data)
  .sidebar&attributes(attributes)
    .sidebar__top
      if data && data.front
        +logo
      else
        +logo({
          dark: true
        })
    .sidebar__bottom
      if data && data.front
        +socials
      else
        +socials({
          dark: true
        })
