.sidebar {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 29px 22px 63px;
  display: flex;
  width: 168px;
  min-width: 168px;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(181.36deg, #457fc3 0%, #3868a8 101.99%);
  border-right: 1px solid rgba(#ffffff, .2);

  @include media-breakpoint-down(md) {
    display: none;
  }

  &--white {
    background: #fff;
    border-color: rgba(#28237d, .2);
  }
}
