
include ../blocks/sidebar/sidebar.pug
include ../blocks/header/header.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/main/main.pug
include ../blocks/section/section.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/logo/logo.pug
include ../blocks/socials/socials.pug
include ../blocks/city/city.pug
include ../blocks/card/card.pug
include ../blocks/photo/photo.pug
include ../blocks/news/news.pug
include ../blocks/footer/footer.pug
include ../blocks/subscribe/subscribe.pug
include ../blocks/submenu/submenu.pug
include ../blocks/article/article.pug
include ../blocks/slider/slider.pug
include ../blocks/vacancy/vacancy.pug
include ../blocks/job/job.pug
include ../blocks/person/person.pug
include ../blocks/documentation/documentation.pug
include ../blocks/document/document.pug
include ../blocks/cities/cities.pug
include ../blocks/sublogo/sublogo.pug
include ../blocks/sidelinks/sidelinks.pug
include ../blocks/error/error.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/select/select.pug