.input {
  padding: 0 22px;
  height: 56px;
  color: #272727;
  background: #e4edf9;
  border: 1px solid transparent;
  border-radius: 0;

  @include transition;

  @include placeholder(rgba($primary, .5));

  &:focus,
  &--active {
    background: transparent;
    border: 1px solid #bbb9db;
    outline: none;
    box-shadow: none;

    @include placeholder(rgba($primary, 0));

    & ~ .form__label {
      opacity: 1;
    }
  }

  &--textarea {
    padding-top: 19px;
    min-height: 167px;
    resize: none;
  }
}
