.subscribe {
  display: flex;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }

  @include media-breakpoint-down(md) {
    flex-direction: row;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  &__header {
    margin-right: 111px;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    align-self: flex-end;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 20px;
      align-self: flex-start;
    }

    @include media-breakpoint-down(md) {
      margin-right: 111px;
      margin-bottom: 0;
      align-self: flex-end;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
      align-self: flex-start;
    }

    @include media-breakpoint-down(xs) {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  &__form {
    display: flex;
  }

  &__input {
    padding: 0;
    width: 241px;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: #ffffff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0 !important;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }

    &::placeholder {
      opacity: 1;
      color: #fff;
    }
  }

  &__btn {
    margin-left: 14px;
    display: flex;
    width: 48px;
    min-width: 48px;
    height: 48px;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #ffffff;
    background: $primary;
    border: none;
    border-radius: 100%;
    outline: 0;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }
}
