mixin subscribe(data)
  .subscribe&attributes(attributes)
    .subscribe__header.p.text-uppercase Подпишись на обновления
    form.subscribe__form(action="#", method="POST")
      input.subscribe__input(type="text", placeholder="E-mail")
      button.subscribe__btn(type="submit") Ok
