.sublogo {
  position: absolute;
  right: 39px;
  bottom: 63px;
  display: block;
  width: 104px;
  height: 33px;
  background-image: url("data:image/svg+xml,%3Csvg width='104' height='33' viewBox='0 0 104 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.4534 0.01631H35.9774V32.8163H27.4534V0.01631ZM0 12.1717H21.9726V19.4551H8.55671V32.8163H0.016365L0 12.1717ZM24.394 7.28346H0V0H24.394V7.28346ZM95.5962 15.9845C96.5983 15.2535 97.4156 14.3002 97.9836 13.2C98.5515 12.0999 98.8545 10.8831 98.8684 9.64612C98.8684 3.61731 94.909 0.01631 88.2502 0.01631H61.2385L54.9887 20.8076H54.8905L48.6243 0.01631H39.086V7.29977H42.1291L50.6858 32.8163H59.1934L67.7338 7.29977H87.2849C89.919 7.29977 90.3117 9.01064 90.3117 10.0372C90.3117 11.0637 89.919 12.7746 87.2849 12.7746H72.5602V20.0581H87.5958C90.2135 20.0581 90.6062 21.7689 90.6062 22.7955C90.6062 23.822 90.2135 25.5329 87.5958 25.5329H72.5602V32.8163H88.8392C95.1545 32.8163 99.2283 28.9546 99.2283 23.0399C99.3095 21.6458 99.0064 20.2561 98.3518 19.0211C97.6972 17.7862 96.7161 16.7531 95.5144 16.0334L95.5962 15.9845ZM99.9973 32.8489V30.1766H100.881V29.8182H98.7539V30.1766H99.6537V32.8489H99.9973ZM101.633 32.8489V30.2744L102.419 32.8489H102.73L103.531 30.307V32.8489H103.777V29.8182H103.302L102.648 31.9201L102.5 32.4089C102.5 32.3274 102.5 32.1646 102.386 31.969L101.732 29.8182H101.192V32.8489H101.633Z' fill='%2328237D'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;

  @include media-breakpoint-down(xl) {
    right: 30px;
    bottom: 20px;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }

  &--sm {
    right: 32px;
    width: 56px;
    height: 19px;
    background-size: 56px 19px;

    @include media-breakpoint-down(xl) {
      right: 30px;
    }

    @include media-breakpoint-down(md) {
      right: 16px;
    }
  }

  &--white {
    background-image: url("data:image/svg+xml,%3Csvg width='56' height='18' viewBox='0 0 56 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7553 0.0907974H19.3367V17.7197H14.7553V0.0907974ZM0 6.62392H11.8096V10.5385H4.59896V17.7197H0.00879564L0 6.62392ZM13.111 3.99666H0V0.0820312H13.111V3.99666ZM51.3799 8.67321C51.9185 8.28031 52.3578 7.76791 52.663 7.17662C52.9683 6.58532 53.1311 5.93135 53.1386 5.26651C53.1386 2.02622 51.0106 0.0907974 47.4317 0.0907974H32.9137L29.5547 11.2654H29.5019L26.134 0.0907974H21.0075V4.00542H22.643L27.242 17.7197H31.8146L36.4047 4.00542H46.9129C48.3286 4.00542 48.5396 4.92496 48.5396 5.47669C48.5396 6.02841 48.3286 6.94798 46.9129 6.94798H38.9988V10.8626H47.0799C48.4869 10.8626 48.6979 11.7821 48.6979 12.3339C48.6979 12.8856 48.4869 13.8051 47.0799 13.8051H38.9988V17.7197H47.7482C51.1425 17.7197 53.3321 15.6442 53.3321 12.4652C53.3757 11.7159 53.2128 10.969 52.861 10.3053C52.5092 9.64155 51.9818 9.08627 51.336 8.69949L51.3799 8.67321ZM53.7454 17.7373V16.301H54.2202V16.1084H53.077V16.301H53.5607V17.7373H53.7454ZM54.6247 17.7373V16.3535L55.0468 17.7373H55.2139L55.6447 16.3711V17.7373H55.7766V16.1084H55.5216L55.1699 17.2381L55.0907 17.5008C55.0907 17.457 55.0907 17.3695 55.0292 17.2644L54.6775 16.1084H54.3873V17.7373H54.6247Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  &--front {

    @include media-breakpoint-down(lg) {
      display: block;
    }
  }
}
