.section {
  position: relative;

  &--blue {
    background: linear-gradient(154deg, #457fc3 3.39%, #3969aa 49.21%), #ffffff;
  }

  &__instagram-link {
    position: absolute;
    bottom: 52px;
    left: 64px;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 150%;
    font-weight: bold;
    color: $primary;
    transition: $transition-base;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(xl) {
      bottom: 20px;
      left: 30px;
    }

    @include media-breakpoint-down(md) {
      position: static;
      margin-bottom: 30px;
      margin-left: 16px;
    }

    &:before {
      margin-right: 16px;
      display: block;
      width: 24px;
      height: 25px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.5153 0.79541H6.48473C2.90906 0.79541 0 3.70447 0 7.28014V18.3107C0 21.8863 2.90906 24.7954 6.48473 24.7954H17.5153C21.0909 24.7954 24 21.8863 24 18.3107V7.28014C24 3.70447 21.0909 0.79541 17.5153 0.79541ZM22.0611 18.3107C22.0611 20.8172 20.0219 22.8565 17.5153 22.8565H6.48473C3.97819 22.8565 1.93894 20.8173 1.93894 18.3107V7.28014C1.93894 4.7736 3.97814 2.73435 6.48473 2.73435H17.5153C20.0218 2.73435 22.0611 4.77355 22.0611 7.28014V18.3107Z' fill='%2328237D'/%3E%3Cpath d='M17.3713 11.9585C17.2006 10.8079 16.6757 9.76503 15.8532 8.94251C15.0307 8.12004 13.9878 7.59504 12.8372 7.42446C12.3133 7.34679 11.7822 7.34679 11.2583 7.42446C9.83634 7.63536 8.58164 8.38732 7.72528 9.5419C6.86892 10.6965 6.51337 12.1155 6.72427 13.5374C6.93516 14.9593 7.68712 16.214 8.8417 17.0704C9.77901 17.7657 10.8904 18.1307 12.0364 18.1307C12.302 18.1307 12.5696 18.1111 12.8371 18.0714C14.2591 17.8605 15.5138 17.1086 16.3702 15.954C17.2266 14.7994 17.5822 13.3805 17.3713 11.9585ZM12.5527 16.1534C11.6431 16.2885 10.7354 16.0609 9.9968 15.5131C9.25819 14.9653 8.77716 14.1626 8.6423 13.253C8.50739 12.3434 8.73478 11.4357 9.28261 10.697C9.83048 9.95843 10.6331 9.4774 11.5428 9.3425C11.7103 9.31765 11.879 9.30523 12.0477 9.30523C12.2164 9.30523 12.3852 9.31765 12.5527 9.34254C14.0635 9.56656 15.2292 10.7322 15.4532 12.243C15.7317 14.1207 14.4306 15.875 12.5527 16.1534Z' fill='%2328237D'/%3E%3Cpath d='M18.7523 6.04325C18.5717 5.86273 18.3218 5.75928 18.0667 5.75928C17.8117 5.75928 17.5618 5.86268 17.3812 6.04325C17.2007 6.22381 17.0972 6.47328 17.0972 6.72879C17.0972 6.98431 17.2007 7.23378 17.3812 7.41434C17.5618 7.59486 17.8117 7.69831 18.0667 7.69831C18.3218 7.69831 18.5717 7.5949 18.7523 7.41434C18.9328 7.23378 19.0363 6.98389 19.0363 6.72879C19.0363 6.47365 18.9328 6.22376 18.7523 6.04325Z' fill='%2328237D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 0.79541)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }

  &__cards {
    position: relative;
    margin-top: -77px;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }
  }

  &__instagram {
    margin-top: -100px;

    @include media-breakpoint-down(xl) {
      margin-top: -55px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }

  &--center {
    display: flex;
    flex-direction: column;

    .section__content {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  }
}
