.article {
  padding-top: 70px;
  padding-bottom: 85px;

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  img {
    margin: 50px 0;
    display: block;
    max-width: 100%;
    border-bottom-right-radius: 42px;

    @include media-breakpoint-down(sm) {
      margin: 30px 0;
    }
  }

  p,
  .p {
    margin-bottom: 30px;
  }

  .slider img {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__share {
    margin: 30px 0;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__news {
    margin-top: 50px;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }

    .news {
      border-color: rgba(0, 0, 0, .3);

      p,
      .p,
      .h2 {
        color: $dark !important;
      }
    }
  }
}
