mixin socials(data)
  .socials&attributes(attributes)
    if data && data.dark
      a.socials__item.socials__item--tw-dark(href="#")
      a.socials__item.socials__item--vk-dark(href="#")
      a.socials__item.socials__item--fb-dark(href="#")
      a.socials__item.socials__item--ig-dark(href="#")
    else
      a.socials__item.socials__item--tw(href="#")
      a.socials__item.socials__item--vk(href="#")
      a.socials__item.socials__item--fb(href="#")
      a.socials__item.socials__item--ig(href="#")
