.socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    margin-bottom: 20px;
    display: block;
    width: 32px;
    height: 33px;
    background-repeat: no-repeat;

    @include transition;

    &:hover {
      opacity: .7;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--tw {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M32 16C32 7.1636 24.8363 0 16 0C7.1636 0 0 7.1636 0 16C0 24.8363 7.1636 32 16 32C24.8363 32 32 24.8363 32 16ZM1.45454 16C1.45454 7.96653 7.96653 1.45454 16 1.45454C24.0334 1.45454 30.5454 7.96653 30.5454 16C30.5454 24.0334 24.0334 30.5454 16 30.5454C7.96653 30.5454 1.45454 24.0334 1.45454 16Z' fill='white'/%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M23.4667 11.3701C22.9171 11.6137 22.3273 11.7788 21.7077 11.8526C22.3404 11.4737 22.8247 10.8728 23.0542 10.1589C22.4607 10.5097 21.8056 10.7645 21.1076 10.9026C20.5487 10.3063 19.7536 9.93494 18.8718 9.93494C17.18 9.93494 15.8082 11.3067 15.8082 12.9976C15.8082 13.2374 15.8353 13.4716 15.8876 13.6956C13.3419 13.5677 11.0846 12.3481 9.57384 10.4948C9.30975 10.9465 9.15951 11.4727 9.15951 12.0345C9.15951 13.0974 9.70075 14.0352 10.5219 14.5839C10.0199 14.5671 9.54771 14.429 9.13433 14.1994V14.2377C9.13433 15.7214 10.1907 16.9597 11.5913 17.2415C11.3347 17.3106 11.0641 17.3489 10.7841 17.3489C10.5863 17.3489 10.395 17.3293 10.2075 17.2919C10.5975 18.5097 11.7285 19.3953 13.0685 19.4195C12.0206 20.2407 10.6992 20.7288 9.26405 20.7288C9.01677 20.7288 8.7732 20.7138 8.53339 20.6868C9.88927 21.5574 11.499 22.065 13.229 22.065C18.8644 22.065 21.9447 17.3974 21.9447 13.3494L21.9345 12.9528C22.5363 12.5235 23.057 11.9841 23.4667 11.3701Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='14.9333' height='14.9333' fill='white' transform='translate(8.53333 8.53333)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &--tw-dark {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M32 16C32 7.1636 24.8363 0 16 0C7.1636 0 0 7.1636 0 16C0 24.8363 7.1636 32 16 32C24.8363 32 32 24.8363 32 16ZM1.45454 16C1.45454 7.96653 7.96653 1.45454 16 1.45454C24.0334 1.45454 30.5454 7.96653 30.5454 16C30.5454 24.0334 24.0334 30.5454 16 30.5454C7.96653 30.5454 1.45454 24.0334 1.45454 16Z' fill='%2328237D'/%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M23.4666 11.3698C22.917 11.6133 22.3273 11.7785 21.7076 11.8522C22.3403 11.4733 22.8246 10.8724 23.0542 10.1585C22.4607 10.5094 21.8056 10.7641 21.1076 10.9023C20.5486 10.306 19.7536 9.93457 18.8717 9.93457C17.1799 9.93457 15.8082 11.3063 15.8082 12.9972C15.8082 13.237 15.8352 13.4712 15.8875 13.6952C13.3419 13.5673 11.0846 12.3477 9.57378 10.4944C9.30969 10.9461 9.15945 11.4724 9.15945 12.0342C9.15945 13.097 9.70069 14.0349 10.5219 14.5835C10.0198 14.5667 9.54764 14.4286 9.13427 14.1991V14.2373C9.13427 15.7211 10.1906 16.9593 11.5913 17.2412C11.3346 17.3102 11.064 17.3485 10.7841 17.3485C10.5863 17.3485 10.395 17.3289 10.2074 17.2916C10.5974 18.5093 11.7284 19.3949 13.0685 19.4192C12.0205 20.2404 10.6992 20.7284 9.26398 20.7284C9.01671 20.7284 8.77314 20.7135 8.53333 20.6864C9.88921 21.557 11.4989 22.0647 13.229 22.0647C18.8643 22.0647 21.9447 17.397 21.9447 13.349L21.9344 12.9524C22.5363 12.5231 23.057 11.9838 23.4666 11.3698Z' fill='%2328237D'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='14.9333' height='14.9333' fill='white' transform='translate(8.53333 8.5332)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &--vk {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M32 16C32 7.1636 24.8363 0 16 0C7.1636 0 0 7.1636 0 16C0 24.8363 7.1636 32 16 32C24.8363 32 32 24.8363 32 16ZM1.45454 16C1.45454 7.96653 7.96653 1.45454 16 1.45454C24.0334 1.45454 30.5454 7.96653 30.5454 16C30.5454 24.0334 24.0334 30.5454 16 30.5454C7.96653 30.5454 1.45454 24.0334 1.45454 16Z' fill='white'/%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M24.1291 19.2588C24.1092 19.2171 24.0907 19.1824 24.0735 19.1547C23.7883 18.6547 23.2435 18.0411 22.4393 17.3135L22.4223 17.2968L22.4138 17.2887L22.4052 17.2803H22.3966C22.0316 16.9415 21.8005 16.7137 21.7037 16.5971C21.5266 16.3749 21.4869 16.1501 21.5837 15.9222C21.6521 15.7501 21.9089 15.3865 22.3537 14.831C22.5876 14.5367 22.7729 14.3007 22.9098 14.123C23.8966 12.8456 24.3244 12.0293 24.1932 11.6738L24.1422 11.5907C24.1079 11.5407 24.0195 11.495 23.8771 11.4532C23.7343 11.4116 23.5519 11.4047 23.3294 11.4325L20.8654 11.449C20.8255 11.4353 20.7685 11.4365 20.6942 11.4532C20.6201 11.4699 20.583 11.4783 20.583 11.4783L20.5401 11.4992L20.506 11.5242C20.4775 11.5408 20.4461 11.57 20.4119 11.6116C20.3778 11.6531 20.3493 11.7019 20.3265 11.7574C20.0583 12.4294 19.7533 13.0542 19.411 13.6317C19.1999 13.9761 19.0061 14.2746 18.8291 14.5273C18.6523 14.7799 18.504 14.966 18.3843 15.0854C18.2645 15.2048 18.1563 15.3005 18.0591 15.3727C17.9621 15.445 17.8881 15.4756 17.8368 15.4644C17.7854 15.4532 17.737 15.4421 17.6912 15.4311C17.6114 15.381 17.5472 15.313 17.4988 15.227C17.4502 15.1409 17.4175 15.0325 17.4004 14.902C17.3833 14.7714 17.3733 14.6591 17.3704 14.5646C17.3677 14.4703 17.369 14.3369 17.3747 14.1647C17.3807 13.9925 17.3833 13.876 17.3833 13.8149C17.3833 13.6038 17.3876 13.3747 17.3961 13.1276C17.4047 12.8804 17.4117 12.6846 17.4175 12.5404C17.4233 12.396 17.426 12.2432 17.426 12.0821C17.426 11.9211 17.4159 11.7947 17.3961 11.7031C17.3764 11.6115 17.3462 11.5226 17.3065 11.4365C17.2664 11.3504 17.2079 11.2838 17.1311 11.2365C17.0541 11.1893 16.9584 11.1519 16.8445 11.124C16.5421 11.0574 16.1571 11.0214 15.6893 11.0158C14.6285 11.0047 13.9468 11.0714 13.6445 11.2158C13.5248 11.2768 13.4164 11.3602 13.3195 11.4656C13.2168 11.5878 13.2024 11.6545 13.2766 11.6655C13.6189 11.7154 13.8612 11.8349 14.0038 12.0237L14.0552 12.1237C14.0951 12.1959 14.1351 12.3237 14.175 12.5069C14.2149 12.6902 14.2406 12.8929 14.252 13.1149C14.2804 13.5204 14.2804 13.8675 14.252 14.1563C14.2234 14.4451 14.1964 14.67 14.1707 14.8311C14.1449 14.9921 14.1065 15.1226 14.0552 15.2226C14.0038 15.3225 13.9696 15.3836 13.9524 15.4058C13.9353 15.428 13.9211 15.442 13.9097 15.4474C13.8356 15.4751 13.7585 15.4892 13.6787 15.4892C13.5988 15.4892 13.5019 15.4503 13.3878 15.3725C13.2738 15.2947 13.1554 15.1879 13.0328 15.0518C12.9101 14.9157 12.7718 14.7254 12.6178 14.4811C12.4638 14.2368 12.3041 13.948 12.1387 13.6148L12.0018 13.3731C11.9163 13.2177 11.7994 12.9913 11.6511 12.6942C11.5027 12.3971 11.3715 12.1096 11.2575 11.8319C11.2119 11.7153 11.1435 11.6265 11.0522 11.5654L11.0094 11.5403C10.9809 11.5182 10.9352 11.4946 10.8725 11.4695C10.8098 11.4445 10.7442 11.4265 10.6757 11.4154L8.33148 11.432C8.09193 11.432 7.92939 11.4848 7.84381 11.5904L7.80955 11.6403C7.79244 11.6681 7.78381 11.7125 7.78381 11.7736C7.78381 11.8347 7.80092 11.9097 7.83518 11.9985C8.17739 12.7817 8.54955 13.5369 8.95164 14.2645C9.35373 14.992 9.70314 15.578 9.99966 16.0221C10.2962 16.4664 10.5985 16.8858 10.9066 17.28C11.2146 17.6743 11.4185 17.927 11.5183 18.0381C11.6181 18.1493 11.6966 18.2324 11.7536 18.288L11.9675 18.4879C12.1044 18.6212 12.3054 18.7808 12.5707 18.9668C12.836 19.153 13.1297 19.3362 13.4519 19.5169C13.7743 19.6972 14.1492 19.8444 14.5771 19.9582C15.0048 20.0721 15.4212 20.1179 15.8262 20.0958H16.8101C17.0097 20.079 17.1608 20.0179 17.2636 19.9125L17.2976 19.8707C17.3205 19.8376 17.342 19.7861 17.3617 19.7168C17.3818 19.6474 17.3917 19.5709 17.3917 19.4877C17.3859 19.2489 17.4045 19.0338 17.4472 18.8422C17.4898 18.6506 17.5385 18.5062 17.5928 18.409C17.6471 18.3118 17.7085 18.2298 17.7767 18.1634C17.8451 18.0968 17.8938 18.0564 17.9224 18.0425C17.9508 18.0285 17.9735 18.0191 17.9906 18.0134C18.1275 17.969 18.2886 18.012 18.4741 18.1426C18.6595 18.2731 18.8334 18.4343 18.9961 18.6258C19.1587 18.8175 19.354 19.0326 19.5821 19.2713C19.8103 19.5102 20.0099 19.6877 20.181 19.8045L20.352 19.9045C20.4663 19.9712 20.6146 20.0323 20.7971 20.0878C20.9793 20.1433 21.139 20.1572 21.2761 20.1294L23.4663 20.0962C23.6829 20.0962 23.8515 20.0613 23.971 19.992C24.0908 19.9225 24.162 19.8461 24.185 19.7629C24.2079 19.6796 24.2091 19.5851 24.1893 19.4795C24.169 19.3741 24.149 19.3005 24.1291 19.2588Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='16.4324' height='16' fill='white' transform='translate(7.78381 7.57892)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &--vk-dark {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M32 16C32 7.1636 24.8363 0 16 0C7.1636 0 0 7.1636 0 16C0 24.8363 7.1636 32 16 32C24.8363 32 32 24.8363 32 16ZM1.45454 16C1.45454 7.96653 7.96653 1.45454 16 1.45454C24.0334 1.45454 30.5454 7.96653 30.5454 16C30.5454 24.0334 24.0334 30.5454 16 30.5454C7.96653 30.5454 1.45454 24.0334 1.45454 16Z' fill='%2328237D'/%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M24.1291 19.2589C24.1092 19.2171 24.0907 19.1825 24.0735 19.1548C23.7883 18.6548 23.2435 18.0411 22.4393 17.3136L22.4223 17.2969L22.4138 17.2887L22.4052 17.2804H22.3966C22.0316 16.9416 21.8005 16.7138 21.7037 16.5972C21.5266 16.375 21.4869 16.1501 21.5837 15.9223C21.6521 15.7501 21.9089 15.3866 22.3537 14.8311C22.5876 14.5367 22.7729 14.3008 22.9098 14.123C23.8966 12.8456 24.3244 12.0293 24.1932 11.6739L24.1422 11.5908C24.1079 11.5408 24.0195 11.495 23.8771 11.4533C23.7343 11.4117 23.5519 11.4048 23.3294 11.4325L20.8654 11.4491C20.8255 11.4353 20.7685 11.4366 20.6942 11.4533C20.6201 11.47 20.583 11.4784 20.583 11.4784L20.5401 11.4992L20.506 11.5243C20.4775 11.5409 20.4461 11.57 20.4119 11.6117C20.3778 11.6532 20.3493 11.7019 20.3265 11.7575C20.0583 12.4295 19.7533 13.0542 19.411 13.6318C19.1999 13.9762 19.0061 14.2746 18.8291 14.5274C18.6523 14.78 18.504 14.9661 18.3843 15.0854C18.2645 15.2048 18.1563 15.3005 18.0591 15.3728C17.9621 15.4451 17.8881 15.4756 17.8368 15.4645C17.7854 15.4533 17.737 15.4422 17.6912 15.4311C17.6114 15.3811 17.5472 15.3131 17.4988 15.227C17.4502 15.1409 17.4175 15.0326 17.4004 14.9021C17.3833 14.7715 17.3733 14.6591 17.3704 14.5647C17.3677 14.4704 17.369 14.3369 17.3747 14.1648C17.3807 13.9925 17.3833 13.876 17.3833 13.8149C17.3833 13.6038 17.3876 13.3748 17.3961 13.1276C17.4047 12.8805 17.4117 12.6847 17.4175 12.5404C17.4233 12.396 17.426 12.2432 17.426 12.0822C17.426 11.9211 17.4159 11.7948 17.3961 11.7031C17.3764 11.6116 17.3462 11.5227 17.3065 11.4365C17.2664 11.3504 17.2079 11.2839 17.1311 11.2366C17.0541 11.1894 16.9584 11.1519 16.8445 11.1241C16.5421 11.0575 16.1571 11.0214 15.6893 11.0158C14.6285 11.0047 13.9468 11.0714 13.6445 11.2158C13.5248 11.2769 13.4164 11.3602 13.3195 11.4657C13.2168 11.5879 13.2024 11.6546 13.2766 11.6656C13.6189 11.7155 13.8612 11.8349 14.0038 12.0237L14.0552 12.1238C14.0951 12.196 14.1351 12.3238 14.175 12.507C14.2149 12.6902 14.2406 12.8929 14.252 13.115C14.2804 13.5205 14.2804 13.8676 14.252 14.1563C14.2234 14.4452 14.1964 14.6701 14.1707 14.8311C14.1449 14.9922 14.1065 15.1227 14.0552 15.2226C14.0038 15.3226 13.9696 15.3837 13.9524 15.4059C13.9353 15.428 13.9211 15.442 13.9097 15.4475C13.8356 15.4752 13.7585 15.4893 13.6787 15.4893C13.5988 15.4893 13.5019 15.4503 13.3878 15.3726C13.2738 15.2948 13.1554 15.1879 13.0328 15.0518C12.9101 14.9157 12.7718 14.7255 12.6178 14.4812C12.4638 14.2368 12.3041 13.9481 12.1387 13.6148L12.0018 13.3732C11.9163 13.2177 11.7994 12.9914 11.6511 12.6943C11.5027 12.3971 11.3715 12.1097 11.2575 11.832C11.2119 11.7153 11.1435 11.6266 11.0522 11.5655L11.0094 11.5404C10.9809 11.5182 10.9352 11.4947 10.8725 11.4696C10.8098 11.4445 10.7442 11.4265 10.6757 11.4155L8.33148 11.4321C8.09193 11.4321 7.92939 11.4849 7.84381 11.5904L7.80955 11.6404C7.79244 11.6682 7.78381 11.7126 7.78381 11.7737C7.78381 11.8348 7.80092 11.9098 7.83518 11.9986C8.17739 12.7817 8.54955 13.537 8.95164 14.2645C9.35373 14.992 9.70314 15.5781 9.99966 16.0221C10.2962 16.4665 10.5985 16.8858 10.9066 17.28C11.2146 17.6744 11.4185 17.9271 11.5183 18.0381C11.6181 18.1493 11.6966 18.2325 11.7536 18.288L11.9675 18.4879C12.1044 18.6212 12.3054 18.7809 12.5707 18.9669C12.836 19.153 13.1297 19.3363 13.4519 19.5169C13.7743 19.6973 14.1492 19.8444 14.5771 19.9583C15.0048 20.0722 15.4212 20.1179 15.8262 20.0959H16.8101C17.0097 20.0791 17.1608 20.018 17.2636 19.9125L17.2976 19.8708C17.3205 19.8376 17.342 19.7861 17.3617 19.7168C17.3818 19.6474 17.3917 19.571 17.3917 19.4878C17.3859 19.249 17.4045 19.0338 17.4472 18.8422C17.4898 18.6507 17.5385 18.5063 17.5928 18.4091C17.6471 18.3119 17.7085 18.2299 17.7767 18.1634C17.8451 18.0968 17.8938 18.0565 17.9224 18.0426C17.9508 18.0286 17.9735 18.0191 17.9906 18.0134C18.1275 17.969 18.2886 18.012 18.4741 18.1427C18.6595 18.2732 18.8334 18.4343 18.9961 18.6258C19.1587 18.8175 19.354 19.0326 19.5821 19.2714C19.8103 19.5102 20.0099 19.6878 20.181 19.8046L20.352 19.9045C20.4663 19.9712 20.6146 20.0323 20.7971 20.0879C20.9793 20.1434 21.139 20.1573 21.2761 20.1295L23.4663 20.0962C23.6829 20.0962 23.8515 20.0613 23.971 19.992C24.0908 19.9226 24.162 19.8461 24.185 19.7629C24.2079 19.6797 24.2091 19.5852 24.1893 19.4796C24.169 19.3742 24.149 19.3005 24.1291 19.2589Z' fill='%2328237D'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='16.4324' height='16' fill='white' transform='translate(7.78381 7.5791)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &--fb {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M32 16.4244C32 7.58804 24.8363 0.424438 16 0.424438C7.1636 0.424438 0 7.58804 0 16.4244C0 25.2608 7.1636 32.4244 16 32.4244C24.8363 32.4244 32 25.2608 32 16.4244ZM1.45454 16.4244C1.45454 8.39097 7.96653 1.87897 16 1.87897C24.0334 1.87897 30.5454 8.39097 30.5454 16.4244C30.5454 24.4579 24.0334 30.9699 16 30.9699C7.96653 30.9699 1.45454 24.4579 1.45454 16.4244Z' fill='white'/%3E%3Cpath d='M16.5477 24.8455V16.4131H19.3028L19.738 13.6187H16.5477V12.2175C16.5477 11.4884 16.7844 10.7924 17.8207 10.7924H19.8919V8.00336H16.9514C14.4791 8.00336 13.8045 9.64755 13.8045 11.9267V13.6174H12.1081V16.4131H13.8045V24.8455H16.5477Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='32' height='32' fill='white' transform='translate(0 0.424438)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &--fb-dark {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M32 16.4243C32 7.58792 24.8363 0.424316 16 0.424316C7.1636 0.424316 0 7.58792 0 16.4243C0 25.2606 7.1636 32.4243 16 32.4243C24.8363 32.4243 32 25.2606 32 16.4243ZM1.45454 16.4243C1.45454 8.39085 7.96653 1.87885 16 1.87885C24.0334 1.87885 30.5454 8.39085 30.5454 16.4243C30.5454 24.4578 24.0334 30.9698 16 30.9698C7.96653 30.9698 1.45454 24.4578 1.45454 16.4243Z' fill='%2328237D'/%3E%3Cpath d='M16.5477 24.8455V16.4132H19.3027L19.738 13.6188H16.5477V12.2176C16.5477 11.4885 16.7844 10.7925 17.8206 10.7925H19.8918V8.00342H16.9514C14.4791 8.00342 13.8044 9.64761 13.8044 11.9268V13.6175H12.108V16.4132H13.8044V24.8455H16.5477Z' fill='%2328237D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='32' height='32' fill='white' transform='translate(0 0.424316)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &--ig {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M31.9999 16.8489C31.9999 8.01248 24.8363 0.848877 16 0.848877C7.16359 0.848877 0 8.01248 0 16.8489C0 25.6852 7.16359 32.8489 16 32.8489C24.8363 32.8489 31.9999 25.6852 31.9999 16.8489ZM1.45453 16.8489C1.45453 8.81541 7.96651 2.30341 16 2.30341C24.0334 2.30341 30.5454 8.81541 30.5454 16.8489C30.5454 24.8823 24.0334 31.3943 16 31.3943C7.96651 31.3943 1.45453 24.8823 1.45453 16.8489Z' fill='white'/%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M19.3787 9.26996H12.6213C10.4308 9.26996 8.64868 11.1073 8.64868 13.3656V20.3322C8.64868 22.5905 10.4308 24.4278 12.6213 24.4278H19.3787C21.5692 24.4278 23.3514 22.5905 23.3514 20.3322V13.3656C23.3514 11.1073 21.5692 9.26996 19.3787 9.26996ZM22.1636 20.3322C22.1636 21.9153 20.9143 23.2033 19.3787 23.2033H12.6213C11.0858 23.2033 9.8365 21.9153 9.8365 20.3322V13.3656C9.8365 11.7825 11.0857 10.4945 12.6213 10.4945H19.3787C20.9143 10.4945 22.1636 11.7825 22.1636 13.3656V20.3322Z' fill='white'/%3E%3Cpath d='M19.2905 16.3202C19.186 15.5935 18.8644 14.9348 18.3605 14.4154C17.8566 13.8959 17.2177 13.5643 16.5129 13.4566C16.1919 13.4075 15.8666 13.4075 15.5457 13.4566C14.6745 13.5898 13.9059 14.0647 13.3813 14.7939C12.8566 15.5231 12.6388 16.4193 12.768 17.3174C12.8972 18.2155 13.3579 19.0079 14.0652 19.5488C14.6394 19.9879 15.3203 20.2184 16.0223 20.2184C16.185 20.2184 16.3489 20.2061 16.5128 20.181C17.384 20.0478 18.1526 19.5729 18.6772 18.8437C19.2019 18.1145 19.4197 17.2183 19.2905 16.3202ZM16.3386 18.9696C15.7814 19.0549 15.2253 18.9112 14.7728 18.5652C14.3203 18.2192 14.0257 17.7123 13.943 17.1378C13.8604 16.5633 13.9997 15.99 14.3353 15.5235C14.6709 15.057 15.1626 14.7532 15.7199 14.668C15.8225 14.6523 15.9259 14.6444 16.0292 14.6444C16.1326 14.6444 16.236 14.6523 16.3386 14.668C17.2642 14.8095 17.9782 15.5457 18.1155 16.4999C18.2861 17.6858 17.489 18.7938 16.3386 18.9696Z' fill='white'/%3E%3Cpath d='M20.1366 12.5843C20.0259 12.4703 19.8729 12.405 19.7166 12.405C19.5603 12.405 19.4072 12.4703 19.2966 12.5843C19.186 12.6984 19.1227 12.8559 19.1227 13.0173C19.1227 13.1787 19.186 13.3362 19.2966 13.4503C19.4072 13.5643 19.5603 13.6296 19.7166 13.6296C19.8729 13.6296 20.0259 13.5643 20.1366 13.4503C20.2471 13.3362 20.3105 13.1784 20.3105 13.0173C20.3105 12.8562 20.2471 12.6983 20.1366 12.5843Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='31.9999' height='32' fill='white' transform='translate(0 0.848877)'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='14.7027' height='15.1579' fill='white' transform='translate(8.64868 9.26996)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &--ig-dark {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M31.9999 16.8486C31.9999 8.01224 24.8363 0.848633 16 0.848633C7.16359 0.848633 0 8.01224 0 16.8486C0 25.685 7.16359 32.8486 16 32.8486C24.8363 32.8486 31.9999 25.685 31.9999 16.8486ZM1.45453 16.8486C1.45453 8.81516 7.96651 2.30317 16 2.30317C24.0334 2.30317 30.5454 8.81516 30.5454 16.8486C30.5454 24.8821 24.0334 31.3941 16 31.3941C7.96651 31.3941 1.45453 24.8821 1.45453 16.8486Z' fill='%2328237D'/%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M19.3787 9.26953H12.6213C10.4308 9.26953 8.64868 11.1068 8.64868 13.3652V20.3318C8.64868 22.5901 10.4308 24.4274 12.6213 24.4274H19.3787C21.5692 24.4274 23.3514 22.5901 23.3514 20.3318V13.3652C23.3514 11.1068 21.5692 9.26953 19.3787 9.26953ZM22.1636 20.3318C22.1636 21.9149 20.9143 23.2028 19.3787 23.2028H12.6213C11.0858 23.2028 9.8365 21.9149 9.8365 20.3318V13.3652C9.8365 11.7821 11.0857 10.4941 12.6213 10.4941H19.3787C20.9143 10.4941 22.1636 11.782 22.1636 13.3652V20.3318Z' fill='%2328237D'/%3E%3Cpath d='M19.2905 16.3199C19.186 15.5931 18.8644 14.9345 18.3605 14.415C17.8566 13.8955 17.2177 13.564 16.5129 13.4562C16.1919 13.4072 15.8666 13.4072 15.5457 13.4562C14.6745 13.5894 13.9059 14.0643 13.3813 14.7936C12.8566 15.5228 12.6388 16.419 12.768 17.317C12.8972 18.2151 13.3579 19.0075 14.0652 19.5484C14.6394 19.9875 15.3203 20.2181 16.0223 20.2181C16.185 20.2181 16.3489 20.2057 16.5128 20.1806C17.384 20.0474 18.1526 19.5725 18.6772 18.8433C19.2019 18.1141 19.4197 17.2179 19.2905 16.3199ZM16.3386 18.9693C15.7814 19.0546 15.2253 18.9108 14.7728 18.5648C14.3203 18.2188 14.0257 17.7119 13.943 17.1374C13.8604 16.5629 13.9997 15.9896 14.3353 15.5231C14.6709 15.0566 15.1626 14.7528 15.7199 14.6676C15.8225 14.6519 15.9259 14.6441 16.0292 14.6441C16.1326 14.6441 16.236 14.6519 16.3386 14.6676C17.2642 14.8091 17.9782 15.5453 18.1155 16.4995C18.2861 17.6855 17.489 18.7934 16.3386 18.9693Z' fill='%2328237D'/%3E%3Cpath d='M20.1366 12.5841C20.026 12.4701 19.8729 12.4048 19.7166 12.4048C19.5603 12.4048 19.4073 12.4701 19.2966 12.5841C19.1861 12.6982 19.1227 12.8557 19.1227 13.0171C19.1227 13.1785 19.1861 13.336 19.2966 13.4501C19.4073 13.5641 19.5603 13.6294 19.7166 13.6294C19.8729 13.6294 20.026 13.5641 20.1366 13.4501C20.2472 13.336 20.3106 13.1782 20.3106 13.0171C20.3106 12.856 20.2472 12.6981 20.1366 12.5841Z' fill='%2328237D'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='31.9999' height='32' fill='white' transform='translate(0 0.848633)'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='14.7027' height='15.1579' fill='white' transform='translate(8.64868 9.26953)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
}
