mixin footer(data)
  .footer&attributes(attributes)
    .container-fluid
      .row.footer__wrapper
        .col-lg-8.d-flex
          .footer__left
            .footer__left-top
              .footer__contact г. Москва, ул. Пресненский Вал, 27
              a.footer__contact(href="#") +7 495 109-02-00
              a.footer__contact(href="#") info@ruvents.com
            .footer__copyright © 2020
        .col-lg-4
          .footer__right
            .footer__right-top
              p.mb-30 Организация
              .footer__links-list
                a.footer__link(href="#") Карьера
                a.footer__link(href="#") Руководство
                a.footer__link(href="#") Пресс-служба
                a.footer__link(href="#") Контакты
                a.footer__link(href="#") Техническая документация
