.footer {
  position: relative;
  z-index: 1;
  background: transparent;
  border-top: 1px solid rgba(#ffffff, .2);

  .container-fluid {
    padding-top: 60px;
    padding-bottom: 60px;

    @include media-breakpoint-down(md) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &__wrapper {

    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }
  }

  &--inner {
    padding-left: 168px;
    background: linear-gradient(250.96deg, #4681c5 .01%, #12295f 93.84%), #ffffff;
    border-color: rgba(#28237d, .2);

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      margin-top: 50px;
    }
  }

  &__header {
    margin-bottom: 13px;
    font-size: 70px;
    line-height: 88px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;

    @include media-breakpoint-down(xs) {
      font-size: 40px;
      line-height: 1.2;
    }
  }

  &__right-top {

    p {
      font-size: 20px;
      line-height: 25px;
      font-weight: 900;
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  &__links-list {
    margin-left: 18px;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  &__contact {
    margin-bottom: 15px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;
    }
  }

  &__link {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 19px;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__copyright {
    margin-top: 40px;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    @include media-breakpoint-down(md) {
      margin-top: 60px;
    }
  }
}
