mixin document(data)
  .document&attributes(attributes)
    .document__left
      .document__date.p 14.04.2020
      .document__title.p.font-weight-bold= data.title
    a.document__link.p.sm(href="#") Скачать PDF
