.document {
  margin-bottom: 24px;
  padding: 30px 0 25px 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(#325f9d, .2);
  border-right: 0;
  border-radius: 0 0 0 42px;

  @include media-breakpoint-down(lg) {
    padding: 25px 0 25px 25px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__left {
    margin-right: 75px;
    display: flex;
    align-items: baseline;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__date {
    margin-right: 25px;
    flex-shrink: 0;
  }

  &__title {

    @include media-breakpoint-down(sm) {
      margin: 15px 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: $primary;

    @include transition;

    &:hover {
      opacity: .8;
      color: $primary;
    }

    &:before {
      margin-right: 12px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';
      background: url(../img/document.svg) no-repeat center;
      background-size: contain;
    }
  }
}
