mixin card(data)
  a.card(href="#")&attributes(attributes)
    .row
      .col-lg-7.d-flex
        .card__content
          h4 Заголовок материала
          p Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
          p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
      .col-lg-5.d-flex
        .card__picture-wrapper
          img.card__picture(src="./img/card-1.jpg", alt)
          .card__title.p.text-uppercase.text-white.mb-0 Екатеринбург
