.card {
  display: block;
  background: #eeeeee;
  border-radius: 0 0 42px;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__content {
    padding: 88px 64px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(xl) {
      padding: 40px;
    }

    @include media-breakpoint-down(lg) {
      display: block;
    }

    @include media-breakpoint-down(xs) {
      padding: 20px;
    }

    h4 {
      margin-bottom: 55px;
      font-size: 24px;
      line-height: 150%;
      font-weight: bold;
      color: #28237d;

      @include media-breakpoint-down(xl) {
        margin-bottom: 30px;
      }
    }

    p {
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 150%;
      font-weight: normal;
      color: #000000;

      @include media-breakpoint-down(xl) {
        margin-bottom: 20px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__picture-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 0 0 42px;
  }

  &__picture {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include media-breakpoint-down(md) {
      position: static;
      height: 300px;
    }
  }

  &__title {
    position: absolute;
    z-index: 2;
    bottom: 32px;
    left: 46px;
    font-size: 20px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
  }
}
