.error {
  display: flex;
  min-height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;
  }

  &__header {
    margin-bottom: 50px;
    font-size: 300px;
    line-height: 1;
    font-weight: 700;
    color: $primary;

    @include media-breakpoint-down(lg) {
      font-size: 200px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 100px;
    }
  }

  &__subheader {
    margin-bottom: 10px;
  }
}
