extends ../templates/template.pug
block content
  .wrapper
    .wrapper__content.wrapper__content--wide
      +header({
        title: 'Организация'
      })
      .container-fluid.my-30.my-lg-75
        .error
          .error__content
            .error__header 404
            p.error__subheader Такой страницы не существует
            a.p.text-primary(href="#") Вернуться на главную
  +footer.footer--inner
