extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: 'Организация',
        modifier: 'submenu'
      })
      .container-fluid.my-30.my-lg-40
        .row
          .col-xl-6
            h3 заполните заявку
            p.lg.mb-30 Если вы желаете направить свое резюме в АНО "Оргкомитет волейбол 2022", пожалуйста, заполните форму
        form.form(action="#", method="POST")
          .row
            .col-xl-3.col-sm-6
              .form__item
                input.input.form-control(type="text", placeholder="Фамилия")
                label.form__label Фамилия
            .col-xl-3.col-sm-6
              .form__item
                input.input.input--active.form-control(type="text", placeholder="Имя", value="Игорь")
                label.form__label Имя
            .col-xl-3.col-sm-6
              .form__item
                input.input.form-control(type="text", placeholder="Отчество")
                label.form__label Отчество
            .col-xl-2.col-sm-6
              .form__item
                input.input.form-control(type="text", placeholder="Возраст")
                label.form__label Возраст
          .row
            .col-xl-3.col-sm-6
              .form__item
                input.input.form-control(type="text", placeholder="Контактный телефон")
                label.form__label Контактный телефон
            .col-xl-3.col-sm-6
              .form__item
                input.input.form-control(type="text", placeholder="Контактный e-mail")
                label.form__label Контактный e-mail
            .col-xl-3.col-sm-6
              .form__item
                +select({
                  placeholder: 'Желаемое направление'
                })
          .form__item.d-flex.align-items-sm-center.flex-column.flex-sm-row
              .custom-file.mr-sm-30.mb-20.mb-sm-0
                input#customFile.custom-file-input(type='file')
                label.custom-file-label(for='customFile') Приложить файл резюме
              .form__file
                .form__file-header
                  .form__file-name Filename.pdf (4mb)
                  a.form__file-remove(href="#")
                .form__file-dscr Файл .doc .pdf не более 4 mb
          .row
            .col-xl-9
              .form__item
                textarea.input.input--textarea.form-control(type="text", placeholder="Сопроводительное письмо до 2000 знаков")
                label.form__label Сопроводительное письмо до 2000 знаков
          .row
            .col-xl-3.col-lg-4.col-sm-6
              a.btn.btn-primary.w-100(href="#") Отправить
            .col-xl-3.col-lg-4.col-sm-6.d-flex.align-items-center
              .form__agreement Отправляя форму я соглашаюсь с 
                a(href="#") политикой конфиденциальности 
                | и условиями 
                a(href="#") обработки персональных данных
  +footer.footer--inner
