extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: true,
        modifier: 'back-only'
      })
      .article
        .container-fluid.overflow-hidden
          .row
            .col-xl-9.col-xxl-8.mx-auto
              .article__content
                h2.mb-25 FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году
                p.sm.mb-30.mb-lg-50 12 декабря 2020
                img(src="./img/article-1.jpg", alt)
                p Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
                p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
        .container-fluid.overflow-hidden.position-relative
          .row
            .col-xl-8.col-xxl-6.mx-auto.position-static
              .slider.slider--pictures.position-static
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-1.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-2.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-3.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-1.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-2.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-3.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
        .container-fluid
          .row
            .col-xl-10.col-xxl-8.mx-auto
              .article__share
                .p.sm.font-weight-bold.mr-30.mb-10.mb-sm-0 Поделиться
                img.my-0(src="./img/share.png", alt)
        .article__news
          .container-fluid
            h2.text-dark.mb-30.mb-lg-40 Другие новости
            .row
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news({
                  modifier: 'all'
                }).news--all
  +footer.footer--inner
