extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: 'Организация',
        modifier: 'submenu'
      })
      .container-fluid
        .row
          .col-lg-3.position-relative.border-right
            +sidelinks
          .col-lg-9
            .pl-xl-50
              +job
              .vacancy
                h3 Тренер по волейболу
                p Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
                p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
                p.sm.font-weight-bold.mb-20 Обязанности:
                ul.sm
                  li Составление плана тренировок
                  li Проведение тренировок
                  li Выполнение плана
                  li Отчетность администратору
                  li Обратная связь в мессендежерах с клиентами
                p.sm.font-weight-bold.mb-20 Требования:
                ul.sm
                  li Звание не ниже КМС
                  li Игровой опыт от 10 лет
                  li Грамотная речь и умение обучать
                  li Высшее педагогическое образование будет+
                p.sm.font-weight-bold.mb-20 Условия:
                ul.sm
                  li График договорной
              .vacancy
                h3 Менеджер
                p Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
                p.sm.font-weight-bold.mb-20 Обязанности:
                ul.sm
                  li Составление плана тренировок
                  li Проведение тренировок
                  li Выполнение плана
                  li Отчетность администратору
                  li Обратная связь в мессендежерах с клиентами
                p.sm.font-weight-bold.mb-20 Требования:
                ul.sm
                  li Звание не ниже КМС
                  li Игровой опыт от 10 лет
                  li Грамотная речь и умение обучать
                  li Высшее педагогическое образование будет+
                p.sm.font-weight-bold.mb-20 Условия:
                ul.sm
                  li График договорной
  +footer.footer--inner
