extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: true,
        modifier: 'back-only'
      })
      .article
        .container-fluid.overflow-hidden
          .row
            .col-xl-10.col-xxl-8.mx-auto
              .article__content
                h2 Москва
                img(src="./img/article-1.jpg", alt)
                p Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
                p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
      .container-fluid.mb-50
        +cities.mt-0
  +footer.footer--inner
