extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: 'Организация',
        modifier: 'submenu'
      })
      .container-fluid
        .documentation
          .documentation__header
            .documentation__tabs
              a.documentation__link.documentation__link--active.documentation__tabs-item(href="#") Актуальное
              a.documentation__link.documentation__tabs-item(href="#") Архив
            //a.documentation__link(href="#") Справочная информация
          +document({
            title: 'FISU единогласно выбрала Екатеринбург местом проведения летней FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году'
          })
          +document({
            title: 'FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году'
          })
          +document({
            title: 'FISU единогласно выбрала Екатеринбург местом проведения'
          })
          +document({
            title: 'FISU единогласно выбрала Екатеринбург местом проведения летней '
          })
          +document({
            title: 'FISU единогласно выбрала Екатеринбург местом проведения летней FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году'
          })
          +document({
            title: 'FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году'
          })
          +document({
            title: 'FISU единогласно выбрала Екатеринбург местом проведения'
          })
          +document({
            title: 'FISU единогласно выбрала Екатеринбург местом проведения летней '
          })
  +footer.footer--inner
