extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="career.html", style="font-size: 20px;") Career
          li(style="list-style: none;")
            a.d-block.my-20(href="management.html", style="font-size: 20px;") Management
          li(style="list-style: none;")
            a.d-block.my-20(href="press.html", style="font-size: 20px;") Press
          li(style="list-style: none;")
            a.d-block.my-20(href="documentation.html", style="font-size: 20px;") Documentation
          li(style="list-style: none;")
            a.d-block.my-20(href="article.html", style="font-size: 20px;") Article
          li(style="list-style: none;")
            a.d-block.my-20(href="404.html", style="font-size: 20px;") 404
          li(style="list-style: none;")
            a.d-block.my-20(href="news.html", style="font-size: 20px;") News
          li(style="list-style: none;")
            a.d-block.my-20(href="organization.html", style="font-size: 20px;") Organization
          li(style="list-style: none;")
            a.d-block.my-20(href="city.html", style="font-size: 20px;") City
          li(style="list-style: none;")
            a.d-block.my-20(href="application.html", style="font-size: 20px;") Application

