extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      .main
        .section.front__wrapper(data-anchor="section1")
          +header.header--main.header--main-top
          +front
        .section.section--center(data-anchor="section2")
          +header({
            section: 'Города-участники'
          }).header--main
          .section__content
            .container-fluid
              +cities
        .section.section--center(data-anchor="section3")
          +header({
            section: 'О турнире'
          }).header--main
          .section__content
            .container-fluid.px-xl-0.overflow-hidden.section__cards
              .row
                .col-xl-9.mx-auto.position-static
                  .slider.position-static
                    .slider__item
                      +card
                    .slider__item
                      +card
                    .slider__item
                      +card
                    .slider__item
                      +card
                    .slider__item
                      +card
                    .slider__item
                      +card
        .section.section--center(data-anchor="section4")
          +header({
            section: 'Актуальное из Instagram'
          }).header--main
          .section__content
            .container-fluid.section__instagram
              .row
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-1.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-2.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-3.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-4.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-1.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-2.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-3.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-4.jpg',
                  })
          a.section__instagram-link.p(href="#") instagram.name
        .section.section--blue(data-anchor="section5")
          +header({
            section: 'Новости'
          }).header--light.header--main
          .section__top.position-relative
            .container-fluid
              .row.pt-20.pt-xl-100.pb-20.pb-xl-100
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news({
                    modifier: 'all'
                  }).news--all
          .section__bottom    
            +footer
