extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: 'Организация',
        modifier: 'submenu'
      })
      .container-fluid.my-lg-75.my-40
        .row.mb-20.mb-lg-55
          .col-lg-3
            +person({
              photo: 'person-1.jpeg',
              occupation: 'Должность должностного лица'
            })
          .col-lg-7
            p.mb-30 Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
            p.mb-30 Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город). Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
            p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
        .row
          .col-lg-3.col-sm-6
            +person({
              photo: 'person-2.jpeg',
              occupation: 'Должность должностного лица'
            })
          .col-lg-3.col-sm-6
            +person({
              photo: 'person-3.jpeg',
              occupation: 'Длинная должность должностного лица в несколько строк для наглядности отображдения'
            })
          .col-lg-3.col-sm-6
            +person({
              photo: 'person-4.jpeg',
              occupation: 'Должность должностного лица'
            })
          .col-lg-3.col-sm-6
            +person({
              photo: 'person-5.jpeg',
              occupation: 'Должность'
            })
  +footer.footer--inner
