extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: 'Организация'
      })
      .section.section--blue
        .section__top.position-relative
          .container-fluid
            .row.pt-20.pt-lg-100.pb-20.pb-lg-100
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news({
                  modifier: 'all'
                }).news--all
        +footer
