extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: 'Организация',
        modifier: 'submenu'
      })
      .container-fluid
        .row
          .col-lg-9
            .border-md-right.py-30.py-lg-50.pr-sm-40
              h4.mb-30 Кто организует Чемпионат мира по воллейболу?
              p Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
              p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
              p Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
              p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
              p Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
              p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
              p Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
              p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
              p Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
              p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
          .col-lg-3.py-30.py-lg-50
            p Здесь можно добавить какое-нибудь дополнительное содержимое
            +person({
              photo: 'person-2.jpeg',
              occupation: 'Должность должностного лица'
            })
  +footer.footer--inner
