extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: 'Организация',
        modifier: 'submenu'
      })
      .container-fluid.my-30.my-lg-75
        .row
          .col-lg-6
            p.mb-30 Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
            p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
  +footer.footer--inner
