mixin job(data)
  .job&attributes(attributes)
    .job__item
      .p.job__item-header.sm Чтобы откликнуться на вакансию отправьте Ваше резюме на:
      a.job__item-link.h4.font-weight-bold.mb-0(href="#") Info@sample.ru
    .job__item
      .p.job__item-header.sm Или позвоните по номеру
      a.job__item-link.h4.font-weight-bold.mb-0(href="#") +7 495 889 55 88
