.job {
  margin: 25px 0 30px;
  padding: 20px 40px 15px;
  display: flex;
  align-items: center;
  background: #e4f1ff;
  border-radius: 0 0 42px;

  @include media-breakpoint-down(xl) {
    padding: 20px;
  }

  @include media-breakpoint-down(lg) {
    align-items: baseline;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    display: flex;
    width: 50%;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &:first-child {
      width: 55%;
    }

    & + & {
      margin-left: 134px;

      @include media-breakpoint-down(xl) {
        margin-left: 60px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 30px;
        margin-left: 0;
      }
    }
  }

  &__item-header {
    margin-right: 60px;

    @include media-breakpoint-down(xl) {
      margin-right: 20px;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }
  }

  &__item-link {
    flex-shrink: 0;
  }
}
