.photo {
  position: relative;
  padding-top: 100%;
  display: block;

  @include transition;

  &:hover {
    opacity: .8;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}
