mixin front(data)
  .front&attributes(attributes)
    .container-fluid
      .row
        .col-lg-10.mx-auto
          .row
            .col-lg-6
              img.front__title.mb-lg-45.mb-20(src="./img/front-header.svg", alt)
              h1.text-dark.mb-lg-40.mb-20 МИРОВОЙ ЧЕМПИОНАТ <br>ПО ВОЛЕЙБОЛУ
              a.btn.btn-outline-primary(href="#") Кнопка
              a.front__arrow(href="#section2")
