.front {
  margin-top: -125px;
  padding: 30px 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background: transparent url(../img/volleball.png) right bottom -3vh no-repeat;

  @media screen and (max-height: 1000px) {
    margin-top: 0;
    background: transparent url(../img/volleball.png) right -10vw bottom -10vh no-repeat;
  }

  @include media-breakpoint-down(xl) {
    background-position: right -30vw bottom -20vw;
  }

  @include media-breakpoint-down(lg) {
    background-position: right -50vw bottom -20vw;
  }

  @include media-breakpoint-down(md) {
    margin-top: 0;
    background-position: right -80vw bottom -40vw;
  }

  @include media-breakpoint-down(sm) {
    padding: 60px 0;
    background-image: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 100%;

    @include media-breakpoint-down(xl) {
      max-width: 250px;
    }
  }

  &__arrow {
    margin-top: 81px;
    display: block;
    width: 18px;
    height: 113px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='113' viewBox='0 0 18 113' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0V112M9 112L1 104M9 112L17 104' stroke='%2328237D'/%3E%3C/svg%3E%0A");
    outline: 0;

    @include transition;

    @include media-breakpoint-down(xl) {
      margin-top: 40px;
    }

    &:hover {
      opacity: .7;
    }
  }

  h1 {

    @include media-breakpoint-down(sm) {
      font-size: 25px;
    }
  }
}
