.person {
  margin-bottom: 40px;
  display: block;
  max-width: 310px;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__picture {
    position: relative;
    margin-bottom: 25px;
    padding-top: 109.35%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0 0 42px;
      object-fit: cover;
      object-position: top center;
    }
  }

  &__content {
  }
}
