mixin person(data)
  a.person(href="#")&attributes(attributes)
    .person__picture
      img(src="./img/" + data.photo, alt)
    .person__content
      p.font-weight-black.text-uppercase.mb-15 Игоришин Павел Валентнович
      p.sm.mb-0= data.occupation
