.documentation {
  padding-bottom: 55px;

  &__header {
    margin: 42px 0 62px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
  }

  &__link {
    margin-left: 46px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.25;
    font-weight: 900;
    color: $primary;
    border: 1px solid $primary;

    @include transition;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
      margin-left: 0;
    }

    @include media-breakpoint-down(xs) {
      min-width: 130px;
    }

    &:hover {
      opacity: .8;
      color: $primary;
    }

    &:last-child {
      border-radius: 0 0 20px;
    }

    &--active {
      padding: 6px;
      color: #fff;
      background: linear-gradient(269.73deg, #20417b 17.54%, #4680c4 89.13%), #28237d;
      border: 0;

      &:hover {
        color: #fff;
      }
    }
  }

  &__tabs-item {
    margin-left: 0;
    width: 160px;
  }
}
