mixin submenu(data)
  .submenu&attributes(attributes)
    .submenu__content
      a.submenu__link.submenu__link--active.p.font-weight-black.text-uppercase(href="#") Руководство
      a.submenu__link.p(href="#") Техническая документация
      a.submenu__link.p(href="#") Карьера
      a.submenu__link.p(href="#") Контакты
