.submenu {
  background: linear-gradient(269.73deg, #20417b 17.54%, #4680c4 89.13%), #28237d;

  &__content {
    padding: 0 56px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xl) {
      padding: 0 30px;
    }

    @include media-breakpoint-down(lg) {
      padding: 10px;
      flex-direction: column;
    }

    &--active {

      .submenu__link {

        @include media-breakpoint-down(lg) {
          display: block;
        }
      }
    }
  }

  &__link {
    margin-right: 58px;
    padding: 20px 0 13px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px solid transparent;

    @include transition;

    @include media-breakpoint-down(xl) {
      margin-right: 40px;
      padding: 10px 0 7px;
      font-size: 16px;
      font-weight: 700;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
      margin-right: 0;
      padding: 0;
      display: none;
    }

    &:hover {
      opacity: .8;
      color: #fff;
    }

    &:first-child {

      @include media-breakpoint-down(lg) {
        margin-top: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      border-bottom-color: #fff;

      @include media-breakpoint-down(xl) {
        border-bottom-width: 3px;
      }

      @include media-breakpoint-down(lg) {
        display: flex;
      }
    }
  }
}
