.menu {

  &__btn {
    display: none;

    @include media-breakpoint-down(lg) {
      position: relative;
      z-index: 5;
      top: 0;
      right: 0;
      margin-left: 20px;
      display: block;
      width: 30px;
      height: 30px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: contain;
    }

    &--active {
      position: fixed;
      top: 19px;
      right: 16px;
      display: none;
      background: url(../img/close.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__content {

    @include media-breakpoint-down(lg) {
      display: none;
    }

    &--active {

      @include media-breakpoint-down(lg) {
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        padding-top: 80px;
        padding-bottom: 40px;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background: $primary;
      }
    }
  }

  &__logo {
    display: none;

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 20px;
      left: 20px;
      display: block;
    }

    img {

      @include media-breakpoint-down(md) {
        max-height: 80px;
      }
    }
  }

  &__socials {
    display: none;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .socials__item {
      margin-right: 20px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__item {
    margin-right: 70px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: $primary;

    @include transition;

    @media (max-width: 1899px) {
      margin-right: 50px;
    }

    @include media-breakpoint-down(xl) {
      margin-right: 40px;
      font-weight: 700;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
      margin-right: 0;
      margin-bottom: 0;
      font-size: 30px;
      color: #fff;
    }

    &:hover {
      opacity: .7;
    }

    &--active,
    &:hover {

      @include media-breakpoint-down(lg) {
        opacity: 1;
        text-decoration: underline;
        color: #fff;
      }
    }
  }

  &__submenu {
    display: none;

    @include media-breakpoint-down(lg) {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__submenu-item {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;

    @include transition;

    &--active,
    &:hover {

      @include media-breakpoint-down(lg) {
        opacity: 1;
        text-decoration: underline;
        color: #fff;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
