mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    a.menu__btn.menu__btn--active(href="#")
    .menu__content
      +logo.menu__logo
      a.menu__item.menu__item--active.p(href="#") Города
      a.menu__item.p(href="#") Новости
      a.menu__item.p(href="#") Организация
      .menu__submenu
        a.menu__submenu-item.menu__submenu-item--active(href="#") Руководство
        a.menu__submenu-item(href="#") Техническая документация
        a.menu__submenu-item(href="#") Карьера
        a.menu__submenu-item(href="#") Контакты
      a.menu__item.p(href="#") FIVB
      +socials.menu__socials
