mixin select(data)
  .select&attributes(attributes)
    select.select__input
      option(data-placeholder='true', value="undefined") Желаемое направление
      option Вариант 1
      option Вариант 2
      option Вариант 3
