.wrapper {
  position: relative;
  display: flex;
  max-width: 1920px;
  flex: 1;

  &__sidebar {
  }

  &__content {
    position: relative;
    max-width: calc(100% - 168px);
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    &--wide {
      max-width: none;
    }
  }
}
