.header {
  position: sticky;
  z-index: 2;
  top: 0;
  background: #fff;

  &__wrapper {
    padding: 54px 40px 42px 56px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($primary, .2);

    @include media-breakpoint-down(xl) {
      padding: 20px 30px;
    }

    @include media-breakpoint-down(md) {
      padding: 20px 16px;
    }

    @include media-breakpoint-down(sm) {
      padding: 10px 16px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__back {
    margin-right: 32px;
    display: block;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background: url(../img/arrow-back.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      transform: scale(1.1);
    }

    @include media-breakpoint-down(xl) {
      margin-right: 20px;
      width: 20px;
      height: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
    }
  }

  &__right {
    margin-left: auto;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: row-reverse;
    }
  }

  &__user {
    margin-left: 25px;
    display: block;
    width: 48px;
    height: 48px;
    background: url(../img/user.svg) no-repeat center;
    border: 1px solid $primary;
    border-radius: 50%;

    @include transition;

    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-down(xl) {
      margin-left: 10px;
    }
  }

  &--light {
    background: transparent;

    h2,
    .h2,
    p,
    .p {
      color: #fff;
    }

    .header__user {
      background: url(../img/user--white.svg) no-repeat center;
      border-color: #fff;
    }
  }

  &--main {
    position: static;
    padding-left: 8px;

    @include media-breakpoint-down(xl) {
      padding-left: 0;
    }

    @include media-breakpoint-down(lg) {
      z-index: auto;
    }

    .header__wrapper {
      border-bottom: 0;
    }

    .header__right {

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  &--main-top {

    .header__right {

      @include media-breakpoint-down(lg) {
        display: flex;
      }
    }
  }
}
