mixin header(data)
  .header&attributes(attributes)
    .header__wrapper
      if data && data.title
        .header__title
          a.header__back(href="index.html")
          if data && data.modifier != 'back-only'
            .h2.mb-0 Организация
      if data && data.section
        .header__title
          .h2.mb-0= data.section
      .header__right
        +menu
        a.header__user(href="#")
          
    if data && data.modifier == 'submenu'
      +submenu
