.form {

  &__item {
    position: relative;
    margin-bottom: 32px;
  }

  &__label {
    position: absolute;
    top: -7px;
    left: 16px;
    padding: 0 5px;
    opacity: 0;
    font-size: 12px;
    line-height: 14px;
    color: rgba($primary, .5);
    background: #fff;

    @include transition;
  }

  &__file {
  }

  &__file-header {
    margin-bottom: 4px;
    display: flex;
  }

  &__file-name {
    margin-right: 9px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 900;
    color: $primary;
  }

  &__file-remove {
    margin-top: 5px;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    background: url(../img/file-remove.svg) no-repeat center;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__file-dscr {
    font-size: 11px;
    line-height: 1.5;
    color: rgba(#000, .5);
  }

  &__agreement {
    font-size: 11px;
    line-height: 1.5;
    color: #000;

    @include media-breakpoint-down(xs) {
      margin-top: 10px;
    }
  }
}
