.city {
  position: relative;
  margin: 6px;
  padding-top: 21%;
  overflow: hidden;
  width: calc(20% - 12px);
  border-radius: 0 0 42px;

  @include media-breakpoint-down(md) {
    width: calc(25% - 12px);
  }

  @include media-breakpoint-down(sm) {
    width: calc(33.33% - 12px);
  }

  @include media-breakpoint-down(xs) {
    width: calc(50% - 12px);
  }

  &:before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(41.03deg, rgba(0, 0, 0, .58) 5.39%, rgba(0, 0, 0, 0) 61.82%);
    border-radius: 0 0 42px;
  }

  &:hover {

    .city__picture {
      transform: scale(1.1);
    }
  }

  &__picture {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 42px;
    object-fit: cover;
    object-position: top center;

    @include transition;
  }

  &__title {
    position: absolute;
    z-index: 3;
    bottom: 15px;
    left: 24px;
    font-size: 20px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;

    @include media-breakpoint-down(lg) {
      bottom: 10px;
      left: 10px;
      padding-right: 20px;
      font-size: 16px;
      font-weight: 700;
    }

    @include media-breakpoint-down(xs) {
      bottom: 10px;
      left: 10px;
      font-size: 14px;
      line-height: 1;
    }
  }
}
